*{
  font-family: "Roboto", sans-serif;
}
.text-main{
  color: #4CCD99 !important;
}

.bg-form{
  background-color: #DFF2EE !important;
}

.myInput::placeholder {
  color: #007F73 !important; 
  font-family: "Roboto" !important;
  font-size: 18px !important;
}